{% extends "theme.html" %}
{% block title %}Coffee House{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="wrapper">
  <h2 class="page-title">Login</h2>
</div>
<div class="login-content wrapper">
  <form action="{{ url_for('loging.login') }}" method=post>
    <div>
      <label for="name">ユーザ名</label>
      <input placeholder="username" type="text" name=username>
    </div>
    <div>
      <label for="Password">パスワード</label>
      <input placeholder="password" type="password" name=password>
    </div>
      <input type="submit" class="button" value="ログイン">
  </form>
</div>
{% endblock %}
{% block footer %}
    <footer>
        <div class="wrapper">
            <p><small>&copy; Coffee House</small></p>
        </div>
    </footer>
{% endblock %}